.FAQ-container {
  text-align: center;
  width: 100%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(45deg, #6285bc 0%, #49494e 100%);
  color: rgba(255, 255, 255, 0.856);
}

.question-text {
  /* color: rgb(165, 169, 177); */
  color: rgb(184, 171, 209);
  width: 75%;
  margin: 0 auto;
  font-weight: bolder;
}

.title-ask {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

.answer-text {
  padding: 15px 0;
}

h3:first-of-type {
  padding-top: 5px;
}

.border-title {
  width: 35%;
  border-bottom: 5px ridge #5d8abd;
  margin: 5px auto;
}

.FAQ-container i {
  padding: 0 10px;
  color: rgb(35, 212, 73);
}
.config-container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.config {
  margin: 5px;
}

.fiximg {
  width: 15%;
  margin: 20px;
}
#fixtitle {
  margin-bottom: 6px;
}
