.FAQ-container {
  text-align: center;
  width: 100%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #49494e 0%, #7e130db6 100%);
  color: rgba(255, 255, 255, 0.856);
}

.question-text {
  color: rgb(44, 41, 41);
  width: 75%;
  margin: 0 auto;
  font-weight: bolder;
}

.title-ask {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

.answer-text {
  padding: 15px 0;
}

.border-title {
  width: 40%;
  border: 3px solid #a3d3c1;
  margin: 5px auto;
}

.fa-atlas,
.fa-discord {
  color: rgb(10, 46, 56);
  padding: 0 10px;
}
.config-container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.config {
  margin: 5px;
}

.fiximg {
  width: 15%;
  margin: 20px;
}
#fixtitle {
  margin-bottom: 6px;
}
