/********************************
-           HomePage
********************************/

.homepage-container {
  border: solid 2px black;
  text-align: center;
  margin: 0 auto;
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #49494e 0%, #7e130db6 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1%;
}

main {
  background-color: #c6d6d0;
  border: 1px solid yellow;
}

.homepage-content {
  width: 75%;

  margin: 1% auto;
  color: rgba(255, 255, 255, 0.856);
}

.homepage-container h1 {
  color: rgb(59, 45, 45);
  border-bottom: 5px ridge #a3d3c1;
  /* background-color: #c6d6d0; */
  width: 50%;
  margin: 0 auto;
  padding: 25px 0;
}
