/********************************
-           Synopsis
********************************/

.synopsis-container {
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #49494e 0%, #7e130db6 100%);
  color: rgba(255, 255, 255, 0.856);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1%;
}

.synopsis-image {
  width: 50%;
  align-self: center;
}

.synopsis-text {
  text-align: left;
  width: 50%;
  margin: 1em auto;
}

.synopsis-title {
  color: rgb(59, 45, 45);
  border-bottom: 5px ridge #a3d3c1;
  width: 15%;
  margin: 1% auto;
}

#more {
  color: white;
  text-decoration: underline !important;
}
